body {
  margin: 0;
  padding: 0;
  background-image: url("paper-background_53876-147734.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif; /* Ensure a consistent font across the app */
  color: #000000;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  padding-top: 50px;
  padding-bottom: 15px;
}

.App-title {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #000000; 
}

.GridContainer {
  flex: 3;
  width: 100%;
  overflow-x: auto;
}

.Grid {
  width: 100%;
  table-layout: fixed;
}

.Grid td:first-child {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly increased shadow for depth */
  background-color: rgba(255, 255, 255, 0.8); /* Light background for better readability */
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  font-weight: bold;
  font-size: 18px;
}

td {
  font-size: 16px;
  border-radius: 5px;
}

table td:first-child {
  text-align: left;
}

.green {
  background-color: #aaffaa;
}

.red {
  background-color: #ffaaaa;
}

.middle {
  cursor: pointer;
}

td.green, td.red, td.middle {
  transition: background-color 0.3s ease;
}

td.green:hover, td.red:hover, td.middle:hover {
  opacity: 0.8;
}

.AddHabit {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.AddHabit input[type="text"],
.AddHabit select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.AddHabit button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #105be7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.AddHabit button:hover {
  background-color: #0a3da5;
}

.EditButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.EditButton {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('editButton.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.Dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;
  width: 125px;
}

.Dropdown button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Dropdown button:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 60px;
}

.SubmittedScores {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.SubmittedScores h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.SubmittedScores table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.SubmittedScores th, .SubmittedScores td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

.green-emoji {
  font-size: 18px;
  color: green;
}

.red-emoji {
  font-size: 18px;
  color: red;
}
