body {
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  padding-top: 50px;
  padding-bottom: 15px;
}

.App-title {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #2196f3;
}

.GridContainer {
  flex: 3;
  width: 100%;
  overflow-x: auto;
}

.Grid {
  display: grid;
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #ddd;
  grid-template-columns: auto repeat(7, 1fr);
}

.GridHeader, .GridFooter {
  display: contents;
  font-weight: bold;
  font-size: 18px;
}

.GridRow {
  display: contents;
  font-size: 18px;
}

.GridCell {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 16px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.GridCell:first-child {
  text-align: left;
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
}

.GridCellSpan {
  grid-column: span 7;
}

.green {
  background-color: #66bb6a;
  color: white;
}

.red {
  background-color: #ff7043;
  color: white;
}

.middle {
  cursor: pointer;
}

.GridCell.green, .GridCell.red, .GridCell.middle {
  transition: background-color 0.3s ease;
}

.GridCell.green:hover, .GridCell.red:hover, .GridCell.middle:hover {
  opacity: 0.8;
}

.AddHabitPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.AddHabitPopup input[type="text"],
.AddHabitPopup select,
.AddHabitPopup button {
  width: 100%;
  padding: 12px;
  margin: 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 6px;
}

.AddHabitPopup button {
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.AddHabitPopup button:hover {
  background-color: #1976d2;
}

.EditButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.EditButton {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('editButton.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.Dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;
  width: 125px;
}

.Dropdown button {
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.Dropdown button:hover {
  background-color: #f0f4f8;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 60px;
}

.SubmittedScores {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 12px;
}

.SubmittedScores h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}

.SubmittedScores table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.SubmittedScores th, .SubmittedScores td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.SubmittedScores th {
  font-weight: bold;
  color: #000000;
}

.streak-indicator {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  margin-left: 10px;
}

.streak-number {
  font-size: 1.2em;
  margin-right: 5px;
  color: #ff6600;
}

.MuiLinearProgress-root {
  background-color: #e0e0e0;
}

.MuiLinearProgress-bar {
  background-color: #4caf50;
}