.App {
  display: flex;
  text-align: center;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff; 
  color: #105be7; 
}

.App-header {
  background-color: #ffffff; 
  /* padding: 30px; */
  padding-bottom: 15px;
  border-bottom: 0px solid #555;
}

.App-title {
  font-size: 36px;
  font-family: 'Constitution', sans-serif;
  margin: 0;
  color: #105be7; 
}

.StatsTable {
  flex: 1;
  width: 25%;
}

.StatsTable-title {
  font-size: 24px;
  font-family: 'Constitution', sans-serif;
  margin: 0;
  color: #105be7;
  text-align: left;
}

.StatsTable table {
  width: 75%;
}

.StatsTable table td:first-child {
  text-align: left;
  padding-right: 10px;
}

.StatsTable input[type="text"] {
  width: 60px; /* Adjust the width as needed */
  text-align: center;
}

.StatsTable select {
  width: 67px;
  text-align: center;
}

.GridContainer {
  flex: 3;
  width: 75%; /* Set width to 75% */
  overflow-x: auto;
}

.Grid {
  width: 100%; /* Adjust width */
  table-layout: fixed;
}

.Grid td:first-child {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 16px;
}

td {
  font-size: 18px;
  border-radius: 5px;
}

table td:first-child {
  text-align: left;
}

.green {
  background-color: #aaffaa;
}

.red {
  background-color: #ffaaaa;
}

.middle {
  background-color: #f5f5f5;
  cursor: pointer;
}

td.green, td.red, td.middle {
  transition: background-color 0.3s ease;
}

td.green:hover, td.red:hover, td.middle:hover {
  opacity: 0.8;
}
